name: Build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  build-lint:
    name: Build and Lint code and run lib subdirectory tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: ${{ github.event_name == 'pull_request' && 0 || 1 }}

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          setup-node: true

      - name: Lint
        uses: ./.github/actions/lint
        with:
          check-commits: ${{ github.event_name == 'pull_request' }}

      - name: Build
        uses: ./.github/actions/build

      # runs relatively lightweight tests for the lib subdirectory
      - name: Test
        uses: ./.github/actions/test-lib
        with:
          upload-coverage: ${{ github.event_name == 'push' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-report: ${{ github.event_name == 'pull_request' }}

      - name: Benchmark
        if: github.event_name == 'pull_request'
        uses: ./.github/actions/bench
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  # runs heavy E2E tests for the examples subdirectory (+ container setup)
  test-e2e:
    name: E2E Tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ukorvl/custom-github-actions-playwright:latest
      options: --user pwuser
    if: github.event_name == 'pull_request'
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          setup-node: false # don't need to setup node, it's already in the container

      - name: Build
        uses: ./.github/actions/build

      - name: Run E2E tests
        working-directory: examples
        run: |
          export CI=true
          export DISABLE_EXTERNAL_LINK_TEST=${{ github.event_name == 'pull_request' }}
          npm run test:e2e

      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: examples/tests/e2e/output/playwright-report
          if-no-files-found: "warn"
          retention-days: 30

  # runs heavy Lighthouse tests for the examples subdirectory (+ container setup)
  test-lighthouse:
    name: Lighthouse Tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ukorvl/custom-github-actions-playwright:latest
      options: --user pwuser
    if: github.event_name == 'pull_request'
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          setup-node: false # don't need to setup node, it's already in the container

      - name: Build
        uses: ./.github/actions/build

      - name: Run Lighthouse tests
        working-directory: examples
        run: |
          export CI=true
          npm run test:lighthouse
